parameters:
	ignoreErrors:
		-
			message: '#^Class BEAR\\Resource\\AbstractRequest has PHPDoc tag @property for property \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AbstractRequest.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.BooleanArgumentFlag\)\)\: Unexpected token "\.BooleanArgumentFlag\)", expected ''\)'' at offset 117 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Annotation/ResourceParam.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/HalLinker.php

		-
			message: '#^Parameter \#2 \$methodAnnotations of method BEAR\\Resource\\HalLinker\:\:addHalLink\(\) expects list\<object\>, array\<object\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/HalRenderer.php

		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects array\<int, string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/HttpRequestCurl.php

		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects non\-empty\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/HttpRequestCurl.php

		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects non\-empty\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/HttpRequestCurl.php

		-
			message: '#^Class BEAR\\Resource\\HttpResourceObject has PHPDoc tag @method for method delete\(\) parameter \#2 \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^Class BEAR\\Resource\\HttpResourceObject has PHPDoc tag @method for method get\(\) parameter \#2 \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^Class BEAR\\Resource\\HttpResourceObject has PHPDoc tag @method for method head\(\) parameter \#2 \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^Class BEAR\\Resource\\HttpResourceObject has PHPDoc tag @method for method patch\(\) parameter \#2 \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^Class BEAR\\Resource\\HttpResourceObject has PHPDoc tag @method for method post\(\) parameter \#2 \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^Class BEAR\\Resource\\HttpResourceObject has PHPDoc tag @method for method put\(\) parameter \#2 \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.CamelCaseMethodName\)\)\: Unexpected token "\.CamelCaseMethodName\)", expected ''\)'' at offset 27 on line 1$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^Property BEAR\\Resource\\HttpResourceObject\:\:\$body \(array\<string, string\>\) does not accept array\<mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^Property BEAR\\Resource\\HttpResourceObject\:\:\$code \(string\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/HttpResourceObject.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.CamelCaseMethodName\)\)\: Unexpected token "\.CamelCaseMethodName\)", expected ''\)'' at offset 216 on line 6$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/InvokeRequestInterface.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/JsonSchema/Interceptor/JsonSchemaInterceptor.php

		-
			message: '#^Method BEAR\\Resource\\Linker\:\:crawl\(\) has @param\-out PHPDoc tag for parameter \$body with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Linker.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.CouplingBetweenObjects\)\)\: Unexpected token "\.CouplingBetweenObjects\)", expected ''\)'' at offset 30 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Linker.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.CouplingBetweenObjects\)\)\: Unexpected token "\.CouplingBetweenObjects\)", expected ''\)'' at offset 504 on line 25$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Module/ResourceClientModule.php

		-
			message: '#^PHPDoc tag @var with type array\{object, string\} is not subtype of native type callable\(\)\: mixed\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/NamedParamMetas.php

		-
			message: '#^Call to function method_exists\(\) with ReflectionParameter and ''getType'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/OptionsMethodRequest.php

		-
			message: '#^Parameter \#2 \$paramDoc of method BEAR\\Resource\\OptionsMethodRequest\:\:getParamMetas\(\) expects array\<string, array\{type\: string, description\?\: string\}\>, array\<array\{type\: string, description\?\: string\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/OptionsMethodRequest.php

		-
			message: '#^PHPDoc tag @var with type \(int\|string\) is not subtype of native type class\-string\<Ray\\WebContextParam\\Annotation\\AbstractWebContextParam\>&literal\-string\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/OptionsMethods.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.BooleanArgumentFlag\)\)\: Unexpected token "\.BooleanArgumentFlag\)", expected ''\)'' at offset 27 on line 1$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/OptionsRenderer.php

		-
			message: '#^Cannot access property \$eager on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Resource.php

		-
			message: '#^Cannot call method addQuery\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Resource.php

		-
			message: '#^Cannot call method request\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Resource.php

		-
			message: '#^Cannot call method uri\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Resource.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.CamelCaseMethodName\)\)\: Unexpected token "\.CamelCaseMethodName\)", expected ''\)'' at offset 62 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/ResourceObject.php

		-
			message: '#^PHPDoc tag @var with type array\<string, mixed\> is not subtype of native type array\<int\|string, array\<mixed\>\|string\>\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Uri.php

		-
			message: '#^Method BEAR\\Resource\\AppAdapterTest\:\:getScriptInjector\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: tests/AppAdapterTest.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: tests/AppAdapterTest.php

		-
			message: '#^Instanceof between Ray\\Di\\Injector and Ray\\Di\\InjectorInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/AssistedWebContextParamTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/AttributeTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/AttributeTest.php

		-
			message: '#^Cannot access offset ''nickname'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/AttributeTest.php

		-
			message: '#^Cannot access property \$body on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: tests/AttributeTest.php

		-
			message: '#^Cannot access property \$eager on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: tests/AttributeTest.php

		-
			message: '#^Cannot call method linkSelf\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/AttributeTest.php

		-
			message: '#^Cannot call method request\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/AttributeTest.php

		-
			message: '#^Cannot call method uri\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/AttributeTest.php

		-
			message: '#^Cannot call method withQuery\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/AttributeTest.php

		-
			message: '#^Instanceof between FakeVendor\\News\\Resource\\App\\News and FakeVendor\\News\\Resource\\App\\News will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/AttributeTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/EmbedInterceptorTest.php

		-
			message: '#^Cannot call method request\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/EmbedInterceptorTest.php

		-
			message: '#^Cannot call method uri\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/EmbedInterceptorTest.php

		-
			message: '#^Cannot call method withQuery\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/EmbedInterceptorTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\Request and BEAR\\Resource\\Request will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/EmbedInterceptorTest.php

		-
			message: '#^Cannot access offset ''avatar'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''error'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''errorImages'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''filename'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''files'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 6
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''galleryName'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''hasErrors'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''isImage'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''message'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''success'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''title'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''total'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''totalImages'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''username'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset ''validImages'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^PHPDoc tag @var with type Koriym\\FileUpload\\FileUpload is not subtype of native type BEAR\\Resource\\ResourceObject\.$#'
			identifier: varTag.nativeType
			count: 7
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertStringContainsString\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/FileUploadIntegrationTest.php

		-
			message: '#^Instanceof between FakeVendor\\Sandbox\\Resource\\App\\Restbucks\\Order and FakeVendor\\Sandbox\\Resource\\App\\Restbucks\\Order will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/InvokerTest.php

		-
			message: '#^Instanceof between FakeVendor\\Sandbox\\Resource\\App\\Weave\\Book and FakeVendor\\Sandbox\\Resource\\App\\Weave\\Book will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/InvokerTest.php

		-
			message: '#^PHPDoc tag @var with type array\<Ray\\Aop\\MethodInterceptor\> is not subtype of native type array\{''BEAR\\\\Resource\\\\Interceptor\\\\JsonSchemaInterceptor''\}\.$#'
			identifier: varTag.nativeType
			count: 4
			path: tests/JsonSchema/Interceptor/JsonSchemaInterceptorTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/MetaTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\Params and BEAR\\Resource\\Params will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/MetaTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Module/DevLoggerModuleTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\LoggerInterface and BEAR\\Resource\\LoggerInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/Module/DevLoggerModuleTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Module/HalModuleTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\ResourceInterface and BEAR\\Resource\\ResourceInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/Module/HalModuleTest.php

		-
			message: '#^Binary operation "\." between mixed and ''/\*'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: tests/Module/ImportModuleTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Module/ImportModuleTest.php

		-
			message: '#^Cannot call method request\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Module/ImportModuleTest.php

		-
			message: '#^Cannot call method uri\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Module/ImportModuleTest.php

		-
			message: '#^Cannot call method withQuery\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Module/ImportModuleTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: tests/Module/ImportModuleTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\ResourceInterface and BEAR\\Resource\\ResourceInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/Module/ImportModuleTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Module/JsonSchemaModuleTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\ResourceObject and BEAR\\Resource\\ResourceObject will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/Module/JsonSchemaModuleTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: tests/Module/LoggerModuleTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\ErrorLogLogger and BEAR\\Resource\\ErrorLogLogger will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/Module/LoggerModuleTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\LoggerInterface and BEAR\\Resource\\LoggerInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/Module/LoggerModuleTest.php

		-
			message: '#^Method BEAR\\Resource\\Module\\ResrouceObjectModuleTest\:\:getResourceObjectGenerator\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: tests/Module/ResrouceObjectModuleTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: tests/NamedParameterTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\ResourceInterface and BEAR\\Resource\\ResourceInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 3
			path: tests/NamedParameterTest.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: tests/ObjectTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/ObjectTest.php

		-
			message: '#^Cannot access offset ''filename'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/PassingFileUploadObjectTest.php

		-
			message: '#^Cannot access offset ''success'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/PassingFileUploadObjectTest.php

		-
			message: '#^Cannot access offset ''total'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/PassingFileUploadObjectTest.php

		-
			message: '#^PHPDoc tag @var with type Koriym\\FileUpload\\FileUpload is not subtype of native type BEAR\\Resource\\ResourceObject\.$#'
			identifier: varTag.nativeType
			count: 4
			path: tests/PassingFileUploadObjectTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/PrettyJsonRendererTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\ResourceInterface and BEAR\\Resource\\ResourceInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/PrettyJsonRendererTest.php

		-
			message: '#^Cannot access offset ''Content\-Type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Renderer/HalRendererTest.php

		-
			message: '#^Cannot access offset ''Location'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Renderer/HalRendererTest.php

		-
			message: '#^Cannot access property \$body on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Renderer/HalRendererTest.php

		-
			message: '#^Cannot access property \$headers on mixed\.$#'
			identifier: property.nonObject
			count: 3
			path: tests/Renderer/HalRendererTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: tests/Renderer/HalRendererTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Renderer/JsonRendererTest.php

		-
			message: '#^Cannot access offset ''Content\-Type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Renderer/JsonRendererTest.php

		-
			message: '#^Cannot access property \$headers on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Renderer/JsonRendererTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: tests/Renderer/JsonRendererTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertFalse\(\) with false will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 1
			path: tests/RequestTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/RequestTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with false will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 1
			path: tests/RequestTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with non\-empty\-string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/ResourceObjectTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/ResourceObjectTest.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/ResourceParamHandlerTest.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/ResourceParamHandlerTest.php

		-
			message: '#^Cannot access property \$eager on mixed\.$#'
			identifier: property.nonObject
			count: 4
			path: tests/ResourceParamHandlerTest.php

		-
			message: '#^Cannot call method request\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: tests/ResourceParamHandlerTest.php

		-
			message: '#^Cannot call method uri\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: tests/ResourceParamHandlerTest.php

		-
			message: '#^Cannot call method withQuery\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/ResourceParamHandlerTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: tests/ResourceTest.php

		-
			message: '#^Cannot access property \$body on mixed\.$#'
			identifier: property.nonObject
			count: 3
			path: tests/ResourceTest.php

		-
			message: '#^Cannot access property \$eager on mixed\.$#'
			identifier: property.nonObject
			count: 11
			path: tests/ResourceTest.php

		-
			message: '#^Cannot call method addQuery\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/ResourceTest.php

		-
			message: '#^Cannot call method linkCrawl\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/ResourceTest.php

		-
			message: '#^Cannot call method linkNew\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/ResourceTest.php

		-
			message: '#^Cannot call method linkSelf\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/ResourceTest.php

		-
			message: '#^Cannot call method object\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/ResourceTest.php

		-
			message: '#^Cannot call method request\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 15
			path: tests/ResourceTest.php

		-
			message: '#^Cannot call method uri\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 14
			path: tests/ResourceTest.php

		-
			message: '#^Cannot call method withQuery\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 10
			path: tests/ResourceTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: tests/ResourceTest.php

		-
			message: '#^Instanceof between FakeVendor\\Sandbox\\Resource\\App\\Href\\Target and BEAR\\Resource\\ResourceObject will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: tests/ResourceTest.php

		-
			message: '#^Binary operation "\." between ''https\://'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: tests/Server/index.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: tests/Server/index.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/ShortSyntaxTest.php

		-
			message: '#^Cannot call method __invoke\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/ShortSyntaxTest.php

		-
			message: '#^Cannot call method uri\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/ShortSyntaxTest.php

		-
			message: '#^Instanceof between BEAR\\Resource\\AbstractRequest and BEAR\\Resource\\AbstractRequest will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/ShortSyntaxTest.php

		-
			message: '#^Trying to invoke mixed but it''s not a callable\.$#'
			identifier: callable.nonCallable
			count: 2
			path: tests/ShortSyntaxTest.php

		-
			message: '#^Cannot access property \$eager on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/VoidOptionsRendererTest.php

		-
			message: '#^Cannot call method request\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/VoidOptionsRendererTest.php

		-
			message: '#^Cannot call method uri\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/VoidOptionsRendererTest.php
